/* Primary colors */

$white: #ffffff;
$black: #000000;
$grey: grey;

/* Theme one */

$theme1_color1: #4f4f4f;
$theme1_color2: #4e7cca;
$theme1_color3: #eb5757;
$theme1_color4: #42d681;
$theme1_color5: #219653;

$theme1_color6: #f27373;
$theme1_color7: #cf3b3b;
$theme1_color8: #ffb8b8;

$theme1_color9: #11783d;
$theme1_color10: #b1dec4;

$theme1_color11: #658cce;
$theme1_color12: #2c58a3;
$theme1_color13: #b8cdf0;

$theme1_color14: #a8a8a8;

$theme1_color15: #04aa6d;

$theme1_color15: #d5d0d0;
$theme1_color16: #f8f8f8;
$theme1_color17: rgb(197, 190, 190);
$theme1_color18: #828282;
$theme1_color19: #f2994a;



// #828282
// #f2994a
// #1db75f
// #16713d

/* Theme two */

$theme2_color1: #FFE7CA;
$theme2_color2: #D9DCFB;
$theme2_color3: #A0A0A0;
$theme2_color4: #BDC3FF;
$theme2_color5: rgba(189, 195, 255, 0.25);
$theme2_color6: #f8f8f8;
$theme2_color7: #808080;
$theme2_color8: #4e7cca;

$theme2_color9: #e6e6e6;
$theme2_color10: #a8a8a8;

$theme2_color11: rgb(255, 231, 202);
$theme2_color12: rgb(189, 195, 255);
$theme2_color13:  #8715FF;
$theme2_color14:  #BDC3FF;

// #8715FF

/* Theme three */

$theme3_color1: #30363d;
$theme3_color2: #f27a54;
$theme3_color3: #a154f2;
$theme3_color4: #747d88;
$theme3_color5: #f2f4f7;
$theme3_color6: #333333;
$theme3_color7: #4e7cca;
$theme3_color8: #6fcf97;
$theme3_color9: #4c94ff;

// #6fcf97
// #4c94ff

/* Theme four */

$theme4_color1: #fcc282;
$theme4_color2: #5ecabb;
$theme4_color3: #748085;
$theme4_color4: #13ae9e;
$theme4_color5: #181f25;
$theme4_color6: #4e7cca;
$theme4_color7: #496A7B;
$theme4_color8: #fba542;
$theme4_color9: #404143;
$theme4_color10: #FBFBFB
;

/* Theme five */

$theme5_color1: #4d4ae8;
$theme5_color2: #2f3ba6;
$theme5_color3: #aab3d1;
$theme5_color4: #8785ff;
$theme5_color5: #e2e6f2;
$theme5_color6: #aab3d1;
$theme5_color7: #f8f8f8;
$theme5_color8: #a0a0a0;
$theme5_color9: #1e1e1e;
$theme5_color10: #181f25;
$theme5_color11: #f7f7ff;
$theme5_color12: #f6f6ff;
$theme5_color13: #289a78;
$theme5_color14: #e05353;
$theme5_color15: #939BB4;
$theme5_color16: #C9D1DF;
$theme5_color17: #EFF1F4;

/* Theme six */

$theme6_color1: #6C7293;
$theme6_color2: #EBEFF2;
$theme6_color3: #109CF1;
$theme6_color4: #192A3E;
$theme6_color5: #A7ABC3;
$theme6_color6: #FFFFFF;
$theme6_color7: #885AF8;
$theme6_color8: #FFB946;
$theme6_color9: #F7685B;
$theme6_color10: #28C46F;
$theme6_color11: #2ED47A;
$theme6_color12: #C2CFE0;
$theme6_color13: #D3D8DD;
$theme6_color14: #F2F3F8;
$theme6_color15: #F1F5FB;
$theme6_color16: #F5F7F9;
$theme6_color17: #90A0B7;
$theme6_color18: #6A707E;