@import "../base_style/base.scss";
@import "../base_style/theme_colors.scss";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

$font_family: Montserrat;

* {
  font-family: $font_family;
}

.header {
  @include header(Montserrat);
}

.header_h1 {
  @include header_text(Montserrat);
}

.header_h2 {
  @include header_text(Montserrat);
}

.header_h3 {
  @include header_text(Montserrat);
}

.color_back {
  color: $theme1_color2;
}

.grey_color {
  font-weight: 500;
  color: $theme1_color14;
}

.buttons-name {
  font-family: Montserrat;
}

.checkbox_text {
  font-family: Montserrat;
}

/* Navigation */

.navigation {
  @include font_style_base(Montserrat);
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  border: none;
  justify-content: flex-start;
}

.link:first-child {
  margin-left: 0;
}

.header_components {
  color: $theme6_color1;
  font-weight: 700;
  line-height: 28px;
}

.select_container {
  color: $theme6_color1;
  font-size: 0.85 * $font_size_base;
}

.link {
  color: $theme6_color1;
  padding: 5px 12px 5px 12px;
  margin: 0px 15px 15px 0px;
  border-radius: 4px;
  background-color: $theme6_color2;
}

.select_container-switcher {
  width: 118px;
  display: block;
  position: relative;
  height: 40px;
}

.select_container-switcher::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url(./theme06/images/light_theme.svg);
  background-repeat: no-repeat;
}

.select_container-switcher::after {
  position: absolute;
  top: 0;
  right: 10px;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url(./theme06/images/dark_theme.svg);
  background-repeat: no-repeat;
}

.switch {
  position: absolute;
  margin: 0px;
  left: 35px;
  top: 0px;
}

.switcher_collection {
  position: relative;
}

.slider-switcher,
.switcher_collection {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: $theme6_color3;

  &.swt_no_active {
    background-color: $theme6_color5;
  }

  &.swt_active_light {
    background-color: $theme6_color3;
    opacity: 0.4;
  }

  &.swt_no_active_light {
    background-color: $theme6_color13;
  }
}

.slider-switcher::before,
.switcher_collection::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1.5px;
  border-radius: 16px;
}

input:checked+.slider-switcher:before,
input:checked.switcher_collection:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.switch_items {
  display: flex;
  flex-wrap: wrap;
}

.switch_item {
  margin: 0 20px 0 0;
  width: 40px;
  height: 20px;
}

/* Font */

@mixin font_style_six_theme($font-style, $font-weight, $font_size, $line-height, $color) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font_size;
  line-height: $line-height;
  color: $color;
}

.text_container-six_theme {
  display: flex;
  flex-wrap: wrap;
  color: $theme6_color17;
  margin: 120px 0 0 0;
}

.text_container-items,
.text_container-items-font-size {
  display: flex;
  flex-wrap: wrap;
}

.text_container-items-font-size {
  :last-child {
    margin-right: 0px;
  }
}

.text_container-header {
  @include font_style_six_theme(normal, 500, 14px, 17px, $theme6_color17);
  margin: 20px 0;
}

.text_container-font_family-montserrat {
  @include font_style_six_theme(normal, 600, 50px, 60.95px, $theme6_color1);
  margin-right: 150px;

  p {
    margin-top: 5px;
  }
}

.font_style-margin {
  margin: 17px 0 30px 0;
}

.text_container-items-font-size {
  margin: 0;
  color: $theme6_color1;
  font-size: 40px;
  // line-height: 48.76px;
}

.text_container-item-font-size {
  margin-right: 90px;
}

.text_container-font_style-medium {
  font-weight: 500;
}

.text_container-font_style-semibold,
.text_container-font_style-bold {
  font-weight: 600;
}

.text_container-item-font-size-16pt {
  font-size: 16px;
  line-height: 20.8px;
}

.text_container-item-font-size-14pt {
  font-size: 14px;
  line-height: 16.8px;
}

.text_container-item-font-size-12pt {
  font-size: 12px;
  line-height: 15.6px;
}

.text_container-item-font-size-11pt_500 {
  font-size: 11px;
  font-weight: 500;
  line-height: 13.41px;
}

.text_container-item-font-size-12pt_500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 13.2px;
}

.text_container-item-font-size-18pt_600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}

.text_container-item-font-size-14pt_600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
}

.text_container-item-font-size-20pt_700 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

/* Button */

.button-checkbox_container-item {
  width: 100%;
}

.button_checkbox_headers {
  display: flex;
  max-width: 790px;

  @media (max-width: 850px) {
    display: none;
  }
}


.button-checkbox_items {
  display: flex;

  @media (max-width: 1350px) {
    flex-wrap: wrap;
  }
}

.button_checkbox_buttons {
  display: flex;
  max-width: 790px;
  border: 1px dashed #885AF8;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;

  @media (max-width: 850px) {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
}

.button_checkbox_header {
  @include font_style_six_theme(normal, 500, 18px, 21.94px, $theme6_color4);

  &.header_standard {
    padding-left: 20px;
    padding-right: 87px;
  }

  &.header_guidance {
    padding-right: 59px;
  }

  &.header_pressing {
    padding-right: 83px;
  }
}

button {
  color: $theme6_color6;
}

.button_checkbox_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 11.5px, 34px;
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }

  width: 160px;
  height: 42px;
  border: none;
  background-color: $theme6_color6;

  @media (max-width: 850px) {
    margin-right: 0;
  }
}

.btn_small {
  width: 143px;
  height: 32px;
  margin-right: 67px;

  @media (max-width: 850px) {
    margin-right: 0;
  }
}

.plus {
  padding-right: 8px;
}

.hover_cursor-text {
  position: relative;

  &:after {
    position: absolute;
    width: 26px;
    height: 26px;
    content: "";
    left: 75px;
    top: 0;
    background-image: url(./theme06/images/hand.svg);
    background-repeat: no-repeat;
  }
}

.btn_small {
  .hover_cursor-text {
    &:after {
      top: 10px;
      left: 65px;
    }
  }
}


.states-add {
  color: $theme6_color6;

  .states-add-active {
    background-color: $theme6_color3;
    cursor: pointer;
  }

  .states-add-guidance,
  .states-add-active:hover {
    background-color: #34AFF9;
  }

  .states-add-pressing,
  .states-add-active:active {
    background-color: #098EDF;
  }

  .states-add-not_active {
    background-color: #C2CFE0;
  }
}

.states-load {

  .attach {
    width: 18px;
    height: 18px;
    padding-right: 4px;
    background-image: url(./theme06/images/attach.svg);
    background-repeat: no-repeat;
  }

  .states-load-active {
    color: $theme6_color5;
    background-color: $theme6_color14;
    cursor: pointer;
  }

  .states-load-guidance,
  .states-load-active:hover {
    color: #A7ABC3;
    background-color: #E5E6ED;
  }

  .states-load-pressing,
  .states-load-active:active {
    color: $theme6_color1;
    background-color: #D7D9E4;
  }

  .states-load-not_active {
    color: $theme6_color6;
    background-color: $theme6_color12;
  }
}

.states-cancel {

  .states-cancel-active {
    border: solid 1px #109CF1;
    color: #109CF1;
    font-weight: 600;
    line-height: 18.2px;
    cursor: pointer;
  }

  .states-cancel-guidance,
  .states-cancel-active:hover {
    border: solid 1px #34AFF9;
    color: #34AFF9;
    font-weight: 600;
    line-height: 18.2px;
  }

  .states-cancel-pressing,
  .states-cancel-active:active {
    border: solid 1px #098EDF;
    color: #098EDF;
    font-weight: 600;
    line-height: 18.2px;
  }

  .states-cancel-not_active {
    border: solid 1px #C2CFE0;
    color: #C2CFE0;
    font-weight: 600;
    line-height: 18.2px;
  }
}

.states-cancel_v2 {

  .states-cancel_v2-active {
    color: #109CF1;
    font-weight: 600;
    line-height: 18.2px;
    cursor: pointer;
  }

  .states-cancel_v2-guidance,
  .states-cancel_v2-active:hover {
    color: #34AFF9;
    font-weight: 600;
    line-height: 18.2px;
  }

  .states-cancel_v2-pressing,
  .states-cancel_v2-active:active {
    color: #098EDF;
    font-weight: 600;
    line-height: 18.2px;
  }

  .states-cancel_v2-not_active {
    color: #C2CFE0;
    font-weight: 600;
    line-height: 18.2px;
  }
}

.button_checkbox-items_mini {
  display: flex;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.button_checkbox-item_mini {
  width: 250px;

  @media (max-width: 600px) {
    width: 300px;
  }
}

.btn_mini {
  width: 36px;
  height: 32px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  @media (max-width: 850px) {
    margin-right: 0px;
  }

  .icon_save {
    width: 24px;
    height: 24px;
    background-image: url(./theme06/images/save.svg);
    background-repeat: no-repeat;
  }

  .icon_exit {
    width: 24px;
    height: 24px;
    background-image: url(./theme06/images/exit.svg);
    background-repeat: no-repeat;
  }

  .hover_cursor-text {
    &:after {
      top: 15px;
      left: 10px;
    }
  }
}

.button_checkbox-button_options {
  margin-top: 23px;
  margin-left: 63px;

  @media (max-width: 600px) {
    margin-left: 20px;
  }
}

.btns_opt {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;

  .btn_mini-back {
    width: 117px;
    height: 32px;
    margin-bottom: 30px;
    margin-right: 30px;

    .icon_back {
      width: 18px;
      height: 18px;
      background-image: url(./theme06/images/back.svg);
      background-repeat: no-repeat;
      padding-right: 7px;
      padding-top: 3px;
    }
  }

  .btn_mini-back_v_2 {
    width: 117px;
    height: 42px;


    .icon_back {
      width: 18px;
      height: 18px;
      background-image: url(./theme06/images/back.svg);
      background-repeat: no-repeat;
      padding-right: 7px;
      padding-top: 3px;
    }
  }

  .btn_mini-exit {
    display: flex;
    justify-items: center;
    width: 119px;
    height: 32px;
    margin-right: 30px;

    .icon_exit {
      width: 18px;
      height: 18px;
      background-image: url(./theme06/images/exit.svg);
      background-repeat: no-repeat;
      padding-right: 7px;
      padding-top: 3px;
    }

  }

  .btn_mini-exit_v_2 {
    width: 97px;
    height: 32px;
  }
}

.filter_small {
  @include size_btn(154px, 50px);
}

.plus {
  font-size: 1.75 * $font_size_base;
  line-height: 1.75 * $font_size_base;
}

/* Checkbox */

.button_checkbox_container-six_theme {
  margin-top: 150px;
}

.collection_elements {
  width: auto;
  margin-left: 120px;

  @media (max-width: 1350px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 50px;
  }
}

.button_checkbox_buttons.test_checkbox {
  width: 100px;
}

.collection_element {
  display: inline-block;
  width: auto;
  margin-bottom: 40px;

}

.collection_element_checkbox {
  margin: 20px;
  width: 236px;
  border: 1px dashed #885AF8;
}

.collection_element_radio {
  margin: 20px;
  width: 128px;
  border: 1px dashed #885AF8;
}

.collection_element_button {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 332px;
  width: auto;
  border: 1px dashed #885AF8;
  padding: 20px;

  @media (max-width: 400px) {
    justify-content: center;
    max-width: 150px;
  }
}

.collection_element_switcher {
  margin: 20px;
  width: 260px;
  border: 1px dashed #885AF8;
}

.collection_element_item {
  display: flex;
  margin: 20px 0 20px 20px;
}

.collection_element {
  &.states-items {
    margin-left: 20px;
  }
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input {
  &.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    padding: 0;
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }

    border: 1px solid #D5D5D5;
    -webkit-appearance: none;
    position: relative;
  }

  &.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 20px 0 0;
    border: 1px solid #D5D5D5;
    position: relative;
  }
}

.checked {

  &_no:checked:before,
  &_yes:checked:before,
  &_two:checked:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #098EDF;
    position: absolute;
    top: -1px;
    left: -1px;
  }
}

.checked {

  &_no:checked:after,
  &_yes:checked:after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(./theme06/images/check.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
  }

  &_two:checked:after {
    content: "";
    width: 6px;
    height: 7px;
    background-image: url(./theme06/images/two.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 4px;
  }
}

input {
  &.checked_light {
    border: 1px solid #C2CFE0;

    &:checked:after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(./theme06/images/check_light.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
    }
  }

  &.checked_green {
    border: 1px solid #2ED47A;

    &:checked:after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(./theme06/images/check_green.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
    }
  }

  &.checked_alert {
    border: 1px solid #FF3C5F;

    &:checked:after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(./theme06/images/alert.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 6px;
    }
  }
}

input {
  &.radio {

    &.radio_yes:checked,
    &.radio_no:checked {
      border: 1px solid #109CF1;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #109CF1;
      }
    }

    &.radio_alert:checked {
      border: 1px solid #FF3C5F;

      &:before {
        content: "";
        width: 2px;
        height: 10px;
        background-image: url(./theme06/images/alert.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 6px;
      }
    }
  }
}

.collection_element_button button {
  font-size: 11px;
  font-weight: 500;
  width: 84px;
  height: 22px;
  border: none;
  border-radius: 4px;
}

.states-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  @media (max-width: 400px) {
    margin-right: 0px;
    margin: 10px;

    &:last-child {
      margin: 10px;
    }
  }
}

.states_active {
  background-color: $theme6_color11;
}

.states_not_active {
  background-color: $theme6_color9;
}

.states_off {
  background-color: #FFB946;
}

/* Switcher */

.switcher-color1 {
  background-color: $theme1_color1;
}

.switcher-color2 {
  background-color: $theme1_color2;
}

.switcher-color3 {
  background-color: $theme1_color3;
}

.switcher-color4 {
  background-color: $theme1_color4;
}

/* Icons */

.trash {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/trash_1.svg);
  background-size: contain;

  &:hover {
    background-image: url(./theme01/images/trash_2.svg);
  }

  &:active {
    background-image: url(./theme01/images/trash_3.svg);
  }
}

.trash_inactive {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/trash_4.svg);
  background-size: contain;
}

.pen {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/pen_1.svg);
  background-size: contain;

  &:hover {
    background-image: url(./theme01/images/pen_2.svg);
  }

  &:active {
    background-image: url(./theme01/images/pen_3.svg);
  }
}

.pen_inactive {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/pen_4.svg);
  background-size: contain;
}

/* Search */


.search:hover {
  @include border(1px solid $theme1_color17);
}

.search:focus {
  @include border(2px solid $theme1_color3);
}

.search_container::before {
  background-image: url(./theme01/images/search.svg);
}

/* Menu */
.menu_subcontainer {
  gap: 20px;
}

.menu_text {
  @include font_style_base(Montserrat);
  color: $theme1_color1;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu_point {
  width: 8px;
  height: 40px;
  background-image: url(./theme01/images/point.svg);
  margin-left: -28px;
}

.menu_subelement {
  font-family: Montserrat;
  color: $theme1_color1;
  margin-left: 34px;
  margin-top: 20px;
}

.menu_subelement_last {
  margin-bottom: 20px;
}

.subel1,
.subel3,
.subel5 {
  color: #4E7CCA;
}

.business {
  background-image: url(./theme01/images/point_1.svg);
}

.content {
  background-image: url(./theme01/images/point_2.svg);
}

.control {
  background-image: url(./theme01/images/point_3.svg);
}

/* Dropdown lists */

.__select__label:hover {
  background-color: $theme1_color2;
  color: $white;
}

.__select__title {
  &:hover {
    border-color: $theme1_color2;

    &::before,
    &::after {
      background-color: $theme1_color2;
    }
  }
}

/* Form */

.input {
  @include color_btn(1px solid $theme1_color15, $theme1_color16);
  font-family: Montserrat;
  font-size: 0.8 * $font_size_base;
  line-height: 0.8 * $font_size_base;
  display: flex;
}

.select2 {
  @include color_btn(2px solid $theme1_color3, $theme1_color16);
}


/* Color */

.color {
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 4px;
  margin-right: 40px;
  box-shadow: none;
}

.theme6_color5 {
  border: 1px solid #F0F0F0;
}

.color_container-six_theme {
  color: $theme6_color17;
}

.color_container-number_color {
  color: $theme6_color18;
}

.colors_h1 {
  font-size: 30px;
  font-weight: 600;
  color: $theme6_color17;

  @media (max-width: 1120px) {
    font-size: 20px;
  }
}

.color_container-items {
  display: flex;
  flex-wrap: wrap;
}

.color_container-text {
  font-size: $font_size_base;
}

.theme6_color1 {
  background-color: $theme6_color3;
}

.theme6_color2 {
  background-color: $theme6_color4;
}

.theme6_color3 {
  background-color: $theme6_color1;
}

.theme6_color4 {
  background-color: $theme6_color5;
}

.theme6_color5 {
  background-color: $theme6_color6;
}

.theme6_color6 {
  background-color: $theme6_color7;
}

.theme6_color7 {
  background-color: $theme6_color8;
}

.theme6_color8 {
  background-color: $theme6_color9;
}

.theme6_color9 {
  background-color: $theme6_color10;
}

.theme6_color10 {
  background-color: $theme6_color11;
}

.theme6_color11 {
  background-color: $theme6_color12;
}

.theme6_color12 {
  background-color: $theme6_color13;
}

.theme6_color13 {
  background-color: $theme6_color2;
}

.theme6_color14 {
  background-color: $theme6_color14;
}

.theme6_color15 {
  background-color: $theme6_color15;
}

.theme6_color16 {
  background-color: $theme6_color16;
}

.theme6_color17 {
  background-color: $theme6_color17;
}

.theme6_color18 {
  background-color: $theme6_color18;
}


.vsb-menu .multi li:not(.grouped-option)::before {
  background-image: url(./theme01/images/multiempty.svg);
}


/* Main */
.hashtag_item {
  background-color: $theme1_color2;
}

.form_button_accept {
  @include form_button;
  background-image: url(./images/galka.png);
}

.form_button_deny {
  @include form_button;
  background-image: url(./images/krest.png);
}

.slider::-webkit-slider-thumb {
  background: $theme1_color5;
}

.slider::-moz-range-thumb {
  background: $theme1_color15;
}

.block1 {

  >.item {
    background: $white;
  }
}

/*Avatar*/

.avatar_container-six_theme,
.preloader_container-six_theme {
  margin-top: 120px;
}

.avatar_items,
.foto_items {
  display: flex;
  flex-wrap: wrap;
}

.avatar_item {
  margin-right: 120px;
}

.foto_item {
  width: 104px;
  height: 104px;
  margin: 20px 20px 20px 0;
}

.foto_item.avatar {
  background-image: url(./theme06/images/user_avatar.svg);
}

.foto_item.avatar_done {
  background-image: url(./theme06/images/user_avatar_done.svg);
}

.foto_item.avatar_hover {
  background-image: url(./theme06/images/user_avatar_hover.svg);
}

.foto_item.profile_user {
  width: 46px;
  height: 46px;
  background-image: url(./theme06/images/profile_photo.svg);
  background-repeat: no-repeat;
}

.foto_item.profile_user_active {
  width: 55px;
  height: 55px;
  background-image: url(./theme06/images/profile_photo-active.svg);
  background-repeat: no-repeat;
}

.mini_avatar {
  width: 24px;
  height: 24px;
  background-image: url(./theme06/images/associated_photo.svg);
  background-repeat: no-repeat;
}

/* Preloader */

@keyframes moving {
  100% {
    transform: rotate(360deg);
  }
}

.preloader_items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.preloader_item {
  margin-left: 50px;
  max-width: 450px;
  width: 100%;

  @media (max-width: 900px) {
    margin-left: 0px;
    margin-top: 25px;
  }
}

.preloader_elements {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 1px dashed #7B61FF;
  border-radius: 5px;
}

.preloader_element {
  animation: moving 3s infinite linear;
}

.element_ellipse {
  width: 36px;
  height: 36px;
  background-image: url(./theme06/images/ellipse.svg);
  background-repeat: no-repeat;
  padding-right: 107px;
  margin: 20px;
  transform-origin: 18px 18px;
}

.element_ellipse-v_2 {
  width: 18px;
  height: 18px;
  background-image: url(./theme06/images/ellipse2.svg);
  background-repeat: no-repeat;
  padding-right: 107px;
  margin: 20px;
  transform-origin: 9px 9px;
}

.element_polygon {
  width: 34.34px;
  height: 34.34px;
  background-image: url(./theme06/images/polygon.svg);
  background-repeat: no-repeat;
  margin: 20px;
}

.progress_bar_element {
  margin-top: 29px;
}

progress {
  max-width: 450px;
  width: 100%;
  background-color: #F2F3F8;
  height: 6px;
  border: 0;
}

progress::-webkit-progress-bar {
  background-color: #F2F3F8;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background-color: #A7ABC3;
  border-radius: 4px;
}

progress::-moz-progress-bar {
  background-color: #A7ABC3;
  border-radius: 4px;
}

/* Tooltip */

.tooltip_container-six_theme {
  margin-top: 140px;
}

.tooltipe {
  padding-top: 20px;

  .button_checkbox_header {
    margin-bottom: 37px;
  }
}

.tooltipe_item {
  position: relative;
  display: inline-block;

  @media (max-width: 1407px) {
    margin-bottom: 50px;
  }
}

.tooltipe_items {
  margin-bottom: 61px;

  &.text_with_heading {
    margin-bottom: 120px;
  }
}

.tooltip_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192A3E;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
  position: absolute;
  width: 260px;
  height: 68px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);
  -moz-box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);
  box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);

  &.tooltip_text_mini {
    @media (max-width: 400px) {
      width: 170px;
      font-size: 8px;
    }
  }
}

.tooltip_up {
  .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: $theme6_color6 transparent transparent transparent;
  }
}

.tooltipe_item {
  height: 115px;
  width: 270px;
  margin-right: 40px;
}

.tooltipe_side {
  width: 400px;
}

.tooltip_button {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  width: 104px;
  height: 32px;
  color: $theme6_color6;
  background-color: $theme6_color3;
  border: 0;
  border-radius: 6px;
}

.tooltip_up {
  .tooltip_button {
    top: 90px;
    left: 70px;
  }
}

.tooltip_up_right {
  .tooltip_button {
    top: 90px;
    left: 160px;
  }
}

.tooltip_up_right {
  .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 98%;
    margin-left: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: $theme6_color6 transparent transparent transparent;
  }
}

.tooltip_bottom {

  .tooltip_button {
    left: 155px;
  }

  .tooltip_text {
    top: 55px;
    left: 0px;
  }

  .tooltip_text::after {
    content: "";
    position: absolute;
    top: -11px;
    left: 98%;
    margin-left: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent $theme6_color6 transparent;
  }
}

.tooltip_right {
  .tooltip_text {
    top: -20px;
    left: 120px;
  }

  .tooltip_text::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    margin-left: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent $theme6_color6 transparent transparent;
  }
}

.tooltip_left {
  position: absolute;
  top: 55px;

  .tooltip_button {
    top: 20px;
    left: 280px;

    @media (max-width: 400px) {
      left: 190px;
    }
  }

  .tooltip_text::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 104.5%;
    margin-left: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent $theme6_color6;
  }
}

.text_with_heading {

  .tooltip_text {
    height: 89px;
  }

  .tooltip_left {
    top: 80px;
  }

  .tooltip_up,
  .tooltip_up_right {
    .tooltip_button {
      top: 110px;
    }
  }
}

.tooltip_header {
  font-weight: 600;
  top: 10px;
  left: 12px;
  position: absolute;
}

.tooltip_button_accept,
.tooltip_button_cancel {
  position: absolute;
  top: 95px;
  left: 230px;

  @media (max-width: 550px) {
    left: 20px;
  }
}

.tooltip_button_cancel {
  left: 330px;

  @media (max-width: 550px) {
    left: 120px;
  }
}

.text_with_button {

  display: flex;
  flex-wrap: wrap;
  position: relative;

  .tooltipe_item {
    width: 480px;
    margin-top: 50px;

    @media (max-width: 1300px) {
      width: 100%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  .tooltip_up_right {
    .tooltip_button {
      top: 150px;
    }
  }

  .tooltip_text {
    left: 220px;
    height: 131px;

    @media (max-width: 550px) {
      left: 10px;
    }
  }

  .tooltip_button_accept {
    width: 87px;
    height: 32px;
    border: 0;
    background-color: $theme6_color3;
    color: $theme6_color6;
    border-radius: 6px;
  }

  .tooltip_button_cancel {
    width: 87px;
    height: 32px;
    border: 1px solid $theme6_color3;
    background-color: $theme6_color6;
    color: $theme6_color3;
    border-radius: 6px;
  }

  .text_field {
    display: flex;
    align-items: center;
    position: absolute;
    top: 145px;

    .text_container-item-font-size-14pt {
      color: $theme6_color5;
      margin-right: 70px;

      @media (max-width: 550px) {
        margin-right: 10px;
      }
    }
  }

  input {
    padding: 0px 111px 0px 12px;
    height: 42px;
    outline: none;
    border: 1px solid #D3D8DD;
    border-radius: 5px;
    color: #192A3E;

    @media (max-width: 550px) {
      padding: 0px 12px 0px 12px;
    }
  }

  .tooltip_right {

    @media (max-width: 780px) {
      display: none;
    }

    .text_field {
      top: 20px;
    }

    .tooltip_text {
      left: 500px;
    }


    .tooltip_text::after {
      top: 60px;
    }

    .tooltip_button_accept,
    .tooltip_button_cancel {
      top: 75px;
      left: 510px;
    }

    .tooltip_button_cancel {
      left: 610px;
    }
  }
}

/* Pagination*/

.pagination_container {
  margin-top: 200px;
}

.pagination_items {
  margin-top: 20px;
  padding: 20px;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  @media (max-width: 480px) {
    &.text_container-item-font-size-12pt {
      font-size: 9px;
    }
  }
}

.pagination_item {
  display: inline;
  padding: 3px 9px;
  position: relative;

  @media (max-width: 480px) {
    padding: 3px 4px;
  }
}

.icon_left:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 9.2px;
  height: 7.71px;
  background-image: url(./theme06/images/left.svg);
  background-repeat: no-repeat;
}

.icon_right:before {
  content: "";
  position: absolute;
  top: 6px;
  right: -15px;
  width: 9.2px;
  height: 7.71px;
  background-image: url(./theme06/images/right.svg);
  background-repeat: no-repeat;
}

.active_item {
  text-align: center;
  background-color: $theme6_color15;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* accordion*/

.accordion_container {
  margin-top: 160px;
}

.accordion {
  margin-top: 20px;
  color: #6C7293;
}

.accordion_item {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  width: 240px;
  height: 20px;
}

.accordion_item-arrow {
  position: relative;
}

.accordion_item-checkbox:after {
  content: "";
  width: 12px;
  height: 7px;
  top: 5px;
  left: 0;
  position: absolute;
  background-image: url(./theme06/images/arrow_down.svg);
  background-repeat: no-repeat;
}

.accordion_item-checkbox:checked:after {
  content: "";
  width: 12px;
  height: 7px;
  top: 5px;
  left: 0;
  position: absolute;
  background-image: url(./theme06/images/arrow_down.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.accordion_item-subpoints {
  display: flex;
  justify-content: space-between;
  margin-top: 15.5px;
  width: 220px;
  height: 17px;
  padding-left: 20px;
}

.btn_mini-exit_v_2 {
  width: 97px;
  height: 32px;
  background-color: $theme6_color3;
}

.accordion_button {
  margin-top: 25.5px;
}

/* Images */

.images_container {
  margin-top: 160px;

  .button_checkbox_header {
    margin-bottom: 20px;
  }
}

.images_items {
  display: flex;
  flex-wrap: wrap;
}

.images_no {
  margin-right: 100px;
  margin-top: 30px;
}

.images_yes {
  margin-top: 30px;
}

.images_no_item {
  width: 140px;
  height: 140px;
  background-image: url(./theme06/images/no_images.svg);
  background-repeat: no-repeat;
}

.images_yes_item {
  width: 140px;
  height: 140px;
  background-image: url(./theme06/images/images.svg);
  background-repeat: no-repeat;
}

/*input_fields*/

.input_fields_container {
  margin-top: 135px;
}

.input_fields_item {
  display: flex;

  .button_checkbox_header {
    width: 340px;

    @media (max-width: 1400px) {
      display: none;
    }
  }

  @media (max-width: 1120px) {
    display: block;
  }
}

.input_field_header {
  color: $theme6_color5;
  width: 320px;
  padding-top: 60px;
}

.input_field {
  height: 42px;
  margin-right: 32px;

  &.combo_box_input {
    margin-right: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }

  padding: 0px 120px 0px 12px;
  outline: none;
  border-radius: 5px;

  @media (max-width: 1400px) {
    padding: 0px 70px 0px 12px;
  }

  @media (max-width: 1220px) {
    padding: 0px 38px 0px 12px;
  }

  @media (max-width: 800px) {
    margin-right: 0px;
  }
}

.input_fields_text,
.input_fields_select,
.input_fields_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;

  @media (max-width: 800px) {
    gap: 10px;
  }
}

.fields_border {
  width: fit-content;
  border: 1px dashed #885AF8;
  border-radius: 5px;
  padding: 20px;
}

.field_new {
  color: #A7ABC3;
  border: 1px solid #D3D8DD;
}

.field_standart {
  color: #192A3E;
  border: 1px solid #D3D8DD;
}

.field_editing {
  color: #192A3E;
  border: 1px solid $theme6_color3;
}

.input_select {
  height: 42px;
  margin-right: 32px;

  &:last-child {
    margin-right: 0px;
  }

  padding: 0px 82px 0px 12px;
  outline: none;
  border-radius: 5px;

  @media (max-width: 1400px) {
    padding: 0px 32px 0px 12px;
  }

  @media (max-width: 1220px) {
    padding: 0px 0px 0px 12px;
  }

  @media (max-width: 800px) {
    margin-right: 0px;
  }
}

.input_date {
  width: 281px;
  height: 42px;
  margin-right: 32px;

  @media (max-width: 1400px) {
    width: 231px;
  }

  @media (max-width: 1220px) {
    width: 199px;
  }

  &:last-child {
    margin-right: 0px;
  }

  padding: 0px 10px 0px 10px;
  outline: none;
  border-radius: 5px;

  @media (max-width: 800px) {
    margin-right: 0px;
  }
}

/* Calendar */

.calendar-select-search_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
}

.calendar_item {
  margin: 5px;
}

.calendar-one_day {
  width: 315px;
  height: 315px;
  margin-right: 40px;
  background-image: url(./theme06/images/singular.svg);
  background-repeat: no-repeat;
}

.calendar-date_range {
  width: 315px;
  height: 375px;
  background-image: url(./theme06/images/interval.svg);
  background-repeat: no-repeat;
}

/* Select */

.slct {
  max-width: 680px;
}

.slct,
.slct_items,
.slct_items-two,
.slct_items-four {
  display: flex;
  flex-wrap: wrap;
}

.slct_items-two {

  .slct_item {
    height: 180px;
    margin-top: 40px;
  }
}

.slct_items-four {
  margin-top: 40px;

  .slct_item {
    height: 225px;
  }

  .slct_item_calendar {
    margin-top: 40px;
  }
}

.slct_item {
  width: 300px;
  margin-right: 40px;
  -webkit-box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);
  -moz-box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);
  box-shadow: 0px 6px 8px 6px rgba(126, 157, 182, 0.18);

  .field_editing {
    padding-right: 200px;
  }
}

.slct_option {
  padding: 7px 0px 6px 20px;
}

.active_option {
  position: relative;
  background-color: $theme6_color3;


  &::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    left: 260px;
    background-image: url(./theme06/images/hand.svg);
    background-repeat: no-repeat;
  }
}

.option_v2 {
  padding-left: 48px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 5.4px;
    height: 5.4px;
    top: 40%;
    left: 25.4px;
    background-color: $theme6_color12;
    border-radius: 50%;
  }

  &.active_option::after {
    background-color: $theme6_color6;
  }
}

.input_slct_option {

  height: 42px;
  margin-right: 32px;
  padding: 0px 115px 0px 12px;
  outline: none;
  border-radius: 5px;
  border: 1px solid $theme6_color3;
}

.slct_div {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    top: -15px;
    left: 210px;
    background-image: url(./theme06/images/arrow_down_blue.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.slct_div_calendar {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    top: 12px;
    left: 270px;
    background-image: url(./theme06/images/calendar_blue.svg);
    background-repeat: no-repeat;
  }
}

/* Search */

.srch_items {
  margin-top: 40px;
}

.srch_item {
  display: inline-flex;
  margin-bottom: 20px;

  @media (max-width: 940px) {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
  }
}

.srch_item-no_active {

  position: relative;
  margin-right: 30px;
  color: $theme6_color13;

  @media (max-width: 940px) {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  input {
    padding: 12px 215px 11px 38px;
    background-color: $theme6_color16;
    border-radius: 5px;
    border: none;

    @media (max-width: 490px) {
      padding: 12px 50px 11px 38px;
    }

    &::-webkit-input-placeholder {
      color: $theme6_color13;
    }

    &::-moz-placeholder {
      color: $theme6_color13;
    }

    &::-ms-input-placeholder {
      color: $theme6_color13;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12.5px;
    left: 12.5px;
    background-image: url(./theme06/images/search_lite.svg);
    background-repeat: no-repeat;
  }
}

.srch_item_active {
  position: relative;

  input {
    padding: 12px 215px 11px 38px;
    border-radius: 5px;
    border: 1px solid $theme6_color13;

    @media (max-width: 490px) {
      padding: 12px 50px 11px 38px;
    }

    &::-webkit-input-placeholder {
      color: $theme6_color4;
    }

    &::-moz-placeholder {
      color: $theme6_color4;
    }

    &::-ms-input-placeholder {
      color: $theme6_color4;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12.5px;
    left: 12.5px;
    background-image: url(./theme06/images/search.svg);
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    width: 8.33px;
    height: 8.33px;
    top: 15.83px;
    right: 15.83px;
    background-image: url(./theme06/images/close.svg);
    background-repeat: no-repeat;
  }
}

.srch_small-no_active {

  color: $theme6_color5;

  input {
    padding: 12px 161px 11px 38px;
    background-color: $theme6_color6;
    border: 1px solid $theme6_color13;

    @media (max-width: 490px) {
      padding: 12px 10px 11px 38px;
    }
  }
}

.srch_small {
  input {
    padding: 12px 161px 11px 38px;

    @media (max-width: 490px) {
      padding: 12px 10px 11px 38px;
    }
  }

  &::after {
    background-image: url(./theme06/images/search.svg);
  }
}

.srch_item-status {
  display: flex;
  align-items: center;
  color: $theme6_color5;
  margin-top: 30px;
}

.status_text {
  margin-right: 11px;
}

.status_text-input {

  position: relative;

  input {
    padding: 9px 151px 10px 10px;
    border-radius: 5px;
    border: 1px solid $theme6_color13;

    @media (max-width: 490px) {
      padding: 9px 60px 10px 10px;
    }

    &::-webkit-input-placeholder {
      color: $theme6_color5;
    }

    &::-moz-placeholder {
      color: $theme6_color5;
    }

    &::-ms-input-placeholder {
      color: $theme6_color5;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 8.33px;
    height: 8.33px;
    top: 15.83px;
    right: 15.83px;
    background-image: url(./theme06/images/arrow_down_lite.svg);
    background-repeat: no-repeat;
  }
}

/*input fields name*/

.input_fields_name_container {
  margin-top: 50px;
}

.input_fields_name_item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  .button_checkbox_header,
  .name_item {
    margin-right: 42px;
    width: 300px;

    @media (max-width: 1400px) {
      width: 250px;
    }

    @media (max-width: 1220px) {
      width: 218px;
    }
  }
}

.name_item {
  margin-right: 42px;

  &:last-child,
  &:first-child {
    margin-right: 0px;
  }
}

.name_item_header {
  color: $theme6_color5;
  margin-bottom: 11px;
}

.blue_header {
  color: $theme6_color3;
}

.arrow_design {
  .name_item {

    position: relative;

    &:not(:first-child)::before {
      content: "";
      width: 12px;
      height: 7px;
      top: 42px;
      right: 15px;
      position: absolute;
      background-image: url(./theme06/images/arrow_down.svg);
      background-repeat: no-repeat;
    }

    &:last-child::before {
      background-image: url(./theme06/images/arrow_down_blue.svg);
      transform: rotate(180deg);
    }
  }
}

.calendar_grey_light,
.calendar_grey,
.calendar_blue {
  position: relative;

  &::before {
    content: "";
    width: 15px;
    height: 16.67px;
    top: 37px;
    right: 15px;
    position: absolute;
    background-repeat: no-repeat;
  }
}

.calendar_grey_light::before {
  top: 25px;
  right: 40px;
  background-image: url(./theme06/images/calendar_grey_light.svg);
}

.calendar_grey::before {
  background-image: url(./theme06/images/calendar_grey.svg);
}

.calendar_blue::before {
  background-image: url(./theme06/images/calendar_blue.svg);
}

.input_status {

  margin-left: 20px;

  .name_item {
    margin-right: 42px;
    position: relative;

    &:first-child {
      margin-right: 0;
    }
  }

  .input_field_first {
    width: 200px;
    padding: 12px 50px 13px 12px;
    border-radius: 5px;

    @media (max-width: 1400px) {
      width: 150px;
    }

    @media (max-width: 1220px) {
      width: 118px;
    }
  }

}

.not_true {
  position: absolute;
  top: 70px;
  left: 1px;
  color: $theme6_color9;
}

.icon_close::after {
  content: "";
  width: 10px;
  height: 10px;
  top: 40px;
  right: 50px;
  position: absolute;
  background-image: url(./theme06/images/close_red.svg);
  background-repeat: no-repeat;
}

.icon_check_big::after {
  content: "";
  width: 15px;
  height: 11.42px;
  top: 40px;
  right: 10px;
  position: absolute;
  background-image: url(./theme06/images/check_green_big.svg);
  background-repeat: no-repeat;
}

.green_border {
  border: 1px solid #2ED47A;
}

.red_border {
  border: 1px solid $theme6_color9;
}

.input_text_status-items {
  display: flex;
  margin-top: 49px;
}

.input_text_status-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 80px;

  .input_field_header {
    width: 130px;
    padding: 0 50px 0 20px;
    display: block;
  }

  .not_true {
    top: 45px;
    left: 200px;
  }

  .icon_close::after {
    top: 18px;
  }

  .icon_check_big {
    margin-left: 30px;
  }

  .icon_check_big::after {
    top: 18px;
  }

  .field_new {
    color: $theme6_color4;
  }
}

/* slider */

.slider_container {
  margin-top: 69px;
}

.slider_items,
.slider_items_name {
  display: inline-flex;
}

.slider_items_name {
  margin: 20px 0 20px 0;
}

.slider_item {
  margin-left: 20px;
}

.slider {
  width: 300px;
  height: 4px;
  background: #F2F3F8;
  position: relative;
  -webkit-appearance: none;
  margin: 0;

  &::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 4px;
    top: 0;
    left: 0;
    background: $theme6_color3;
    z-index: -1;
    border-radius: 4px;
  }

  &.slider_active::before {
    background: #34AFF9;
  }

  &.slider_off::before {
    background: $theme6_color12;
  }
}

.slider {

  /* Ползунок */

  &::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    background: $theme6_color6;
    border: 2px solid $theme6_color3;
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    background: $theme6_color6;
    border: 2px solid $theme6_color3;
  }

  &::-ms-thumb {
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    background: $theme6_color6;
    border: 2px solid $theme6_color3;
  }

  &.slider_active {

    position: relative;

    &::-webkit-slider-thumb {
      border: 2px solid #34AFF9;
    }

    &::-moz-range-thumb {
      border: 2px solid #34AFF9;
    }

    &::-ms-thumb {
      border: 2px solid #34AFF9;
    }

    &::after {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      top: 0;
      left: 140px;
      background-image: url(./theme06/images/hand.svg);
      background-repeat: no-repeat;
      border-radius: 4px;
    }
  }

  &.slider_off {
    &::-webkit-slider-thumb {
      border: 2px solid $theme6_color12;
    }

    &::-moz-range-thumb {
      border: 2px solid $theme6_color12;
    }

    &::-ms-thumb {
      border: 2px solid $theme6_color12;
    }
  }
}

.slider_item_name {
  width: 340px;
}

/* combobox */

.combo_box_container {
  margin-top: 50px;
}

.combo_box_item {
  margin-bottom: 20px;
}

.combo_box_items_name,
.combo_box_items_block {
  display: inline-flex;
}

.combo_box_item_name {
  width: 340px;
}

.combo_box_items_block {
  margin-top: 20px;
}

.combo_box_item_block_no_arrow {
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}

.combo_box_item_block {

  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  &::after {
    content: "";
    width: 12px;
    height: 7px;
    top: 21px;
    right: 13px;
    position: absolute;
    background-image: url(./theme06/images/arrow_down_lite.svg);
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 1px solid $theme6_color13;
    border-radius: 0 5px 5px 0;
  }
}

.combo_box_close {
  position: relative;

  &::after {
    content: "";
    width: 8.33px;
    height: 8.33px;
    position: absolute;
    top: -5px;
    left: 15px;
    background-image: url(./theme06/images/close.svg);
    background-repeat: no-repeat;
  }

  &.close_end {
    left: 105px;
  }
}

.points {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 7px;
}

.combo_box_point {
  background: $theme6_color2;
  padding: 5px 34px 6px 12px;
  margin-right: 4px;
  border-radius: 4px;
  position: relative;

  &::after {
    content: "";
    width: 8.33px;
    height: 8.33px;
    position: absolute;
    top: 10.83px;
    right: 8.33px;
    background-image: url(./theme06/images/close.svg);
    background-repeat: no-repeat;
  }
}

.combo_box_guidance {
  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: 7px;
    left: 40px;
    background-image: url(./theme06/images/hand.svg);
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}

.combo_box_no_active {
  background-color: $theme6_color16;
}

/* sidebar */

.sidebar {
  display: flex;
  margin-top: 40px;
  margin-bottom: 180px;
}

.sidebar_items {
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
  box-shadow: 6px 0px 35px -12px rgba(0, 0, 0, 0.06);
  margin-right: 50px;

  &.no_footer_menu {
    justify-content: start;
  }
}

.sidebar_item {
  padding: 19px 25px 20px 24px;
}

.sidebar_item_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $theme6_color12;
}

.sidebar_arrow {
  width: 15px;
  height: 15px;
  background-image: url(./theme06/images/arrow_down_blue.svg);
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.sidebar_item_information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.sidebar_mail {
  color: $theme6_color5;
}

.sidebar_item_menu {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar_menu_icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.sidebar_menu_name {
  padding-left: 14px;
  color: $theme6_color1;
  font-weight: 500;
  font-size: 14px;
}

.menu_active,
.official_active,
.content_active,
.control_active,
.settings_active {
  color: $theme6_color3;
}

.icon_desktop {
  background-image: url(./theme06/images/desktop.svg);
}

.icon_desktop_active {
  background-image: url(./theme06/images/desktop_active.svg);
}

.icon_official {
  background-image: url(./theme06/images/official.svg);
}

.icon_official_active {
  background-image: url(./theme06/images/official_active.svg);

}

.icon_official {
  background-image: url(./theme06/images/official.svg);
}

.icon_content {
  background-image: url(./theme06/images/content.svg);
}

.icon_content_active {
  background-image: url(./theme06/images/content_active.svg);
}

.icon_control {
  background-image: url(./theme06/images/control.svg);
}

.icon_control_active {
  background-image: url(./theme06/images/control_active.svg);
}

.icon_settings {
  background-image: url(./theme06/images/settings.svg);
}

.icon_settings_active {
  background-image: url(./theme06/images/settings_active.svg);
}

.icon_logout {
  background-image: url(./theme06/images/logout.svg);
}

.line_gray {
  height: 1px;
  margin-left: -20px;
  width: 122%;
  background-color: $theme6_color2;
}

.menu_element {
  color: #6C7293;
  padding-bottom: 13px;

  &::marker {
    color: #C2CFE0;
    width: 6px;
    height: 6px;
  }
}

/* header */

.header_container {
  margin-bottom: 170px;
}

.header_items {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 35px -13px rgba(0, 0, 0, 0.06);
  margin-top: 40px;
}

.header_item_icons {
  display: flex;
}

.header_item_icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-right: 23px;
}

.icon_notifications {
  background-image: url(./theme06/images/notifications.svg);
}

.icon_logout {
  background-image: url(./theme06/images/logout_gray.svg);
}

/* Icon */

.icon_items {
  display: flex;

  .button_checkbox_header {
    margin-bottom: 20px;
  }
}

.icon_items_active {
  margin-right: 80px;
}

.icon_items_no_active {
  .icon_item {
    .sidebar_menu_icon {
      margin-right: 24px;
    }
  }
}

.icon_item {
  display: flex;
  margin-bottom: 25px;

  .sidebar_menu_icon {
    margin-right: 40px;
    width: 24px;
    height: 24px;
    background-position: center;
  }
}

.icon_rhombus {
  width: 7.2px;
  height: 7.2px;
  margin: 6.91px 6.62px 6.91px 7.2px;
  background-color: $theme6_color12;
  transform: rotate(45deg);

  &.rhombus_active {
    background-color: $theme6_color3;
  }
}

.icon_pen {
  background-image: url(./theme06/images/pen.svg);
}

.icon_pen_active {
  background-image: url(./theme06/images/pen_active.svg);
}

.icon_two_arrow {
  background-image: url(./theme06/images/two_arrow.svg);
}

.icon_two_arrow_active {
  background-image: url(./theme06/images/two_arrow_active.svg);
}

/* Other */

.icon_edit {
  background-image: url(./theme06/images/edit.svg);
}

.icon_show {
  background-image: url(./theme06/images/show.svg);
}

.icon_trach {
  background-image: url(./theme06/images/trash.svg);
}

.icon_check_blue {
  background-image: url(./theme06/images/check_blue.svg);
}

.icon_search {
  width: auto;
  background-image: url(./theme06/images/search.svg);
}

.icon_close_light {
  background-image: url(./theme06/images/close_light.svg);
}

.icon_add {
  background-image: url(./theme06/images/add.svg);
}

.icon_add {
  background-image: url(./theme06/images/add.svg);
}

.icon_attach {
  background-image: url(./theme06/images/attach.svg);
}

.icon_arrow_down {
  background-image: url(./theme06/images/arrow_down.svg);
}

.icon_arrow_up {
  background-image: url(./theme06/images/arrow_down.svg);
  transform: rotate(180deg);
}

.icon_burger_menu {
  background-image: url(./theme06/images/burger_menu.svg);
  display: flex;
  align-items: center;
}

.icon_filter {
  background-image: url(./theme06/images/filter.svg);
}

.icon_save {
  background-image: url(./theme06/images/save_gray.svg);
}

.icon_back {
  background-image: url(./theme06/images/back_gray.svg);
}

.icon_left_gray {
  background-image: url(./theme06/images/left_gray.svg);
}

.icon_right_gray {
  background-image: url(./theme06/images/left_gray.svg);
  transform: rotate(180deg);
}

.icon_image {
  background-image: url(./theme06/images/image.svg);
}

.icon_no_image {
  background-image: url(./theme06/images/no_image.svg);
}