
@import "../base_style/base.scss";
@import "../base_style/theme_colors.scss";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

*{
  font-family: Montserrat;
}

.header {
  @include header(Montserrat);
}
.header_h1 {
  @include header_text(Montserrat);
}
.header_h2 {
  @include header_text(Montserrat);
}
.header_h3 {
  @include header_text(Montserrat);
}

.color_back {
  color: $theme1_color2;
}
.grey_color {
  font-weight: 500;
  color: $theme1_color14;
}

.buttons-name {
  font-family: Montserrat;
}

.checkbox_text {
  font-family: Montserrat;
}

/* Navigation */

.navigation {
  @include font_style_base(Montserrat);
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  border: none;
  text-align: center;
}

.link:first-child{
  margin: 0;
}

.header_components{
  color: $theme6_color1;
  font-weight: 700;
  line-height: 28px;
}

.select_container{
  color: $theme6_color1;
  font-size: 0.85 * $font_size_base;
}

.link{
  color: $theme6_color1;
  padding: 5px 12px 5px 12px;
  margin-right: 0px 15px 15px 0px;
  border-radius: 4px;
  background-color:$theme6_color2;
}

.select_container-switcher{
  display: block;
  position: relative;
  height: 40px;
}

.select_container-switcher::before{
  position: absolute;
  top: 0;
  left: 0;
  content:" ";
  width: 20px;
  height: 20px;
  background-image: url(./theme06/images/light_theme.svg);
  background-repeat: no-repeat;
}

.select_container-switcher::after{
  position: absolute;
  top: 0;
  right: 10px;
  content:" ";
  width: 20px;
  height: 20px;
  background-image: url(./theme06/images/dark_theme.svg);
  background-repeat: no-repeat;
}

.switch {
  position: absolute;
  margin: 0px;
  left: 35px;
  top: 0px;
}

.slider-switcher{
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: $theme6_color3;
}

.slider-switcher::before {
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  border-radius: 16px;
}

input:checked + .slider-switcher:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Button */

.button {
  font-family: Montserrat;
  @include size_btn(276px, 77px);
  border: none;
  color: $white;
}

.filter_small{
  @include size_btn(154px, 50px);
}

.plus {
  font-size: 1.75 * $font_size_base;
  line-height: 1.75 * $font_size_base;
}

.delete {
  @include bg_color($theme1_color3);
&:hover {
  @include bg_color($theme1_color6);
  transition: all 500ms ease;
}
&:active {
  @include bg_color($theme1_color7);
}
}

.delete_inactive {
  @include bg_color($theme1_color8);
}


.save, .save-exit, .filter {
  @include bg_color($theme1_color5);
}
.filter:hover, .save-exit:hover {
  @include bg_color($theme1_color4);
  transition: all 500ms ease;
}

.filter:active, .save-exit:active {
  @include bg_color($theme1_color9);
}

.save-exit_inactive, .filter_inactive, .save_inactive {
  @include bg_color($theme1_color10);
}

.add, .exit, .back {
  @include bg_color($theme1_color2);
}

.add_inactive, .exit_inactive, .back_inactive {
  @include bg_color($theme1_color13);
}

.container_add_text{
  display: none;
}

/* Checkbox */

.checkbox_big {
  @include size_checkbox(30px, 30px);
  @include background;
  background-image: url(./theme01/images/active_1.svg);
  background-size: contain;
}

.checkbox_big_inactive {
  background-image: url(./theme01/images/active_2.svg);
}

/* Switcher */

.switcher-color1{
  background-color: $theme1_color1;
}

.switcher-color2{
  background-color: $theme1_color2;
}

.switcher-color3{
  background-color: $theme1_color3;
}

.switcher-color4{
  background-color: $theme1_color4;
}

/* Icons */

.trash {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/trash_1.svg);
  background-size: contain;

  &:hover {
  background-image: url(./theme01/images/trash_2.svg);
  }

  &:active {
  background-image: url(./theme01/images/trash_3.svg);
  }
}

.trash_inactive {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/trash_4.svg);
  background-size: contain;
}

.pen {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/pen_1.svg);
  background-size: contain;

  &:hover {
  background-image: url(./theme01/images/pen_2.svg);
  }

  &:active {
  background-image: url(./theme01/images/pen_3.svg);
  }
}

.pen_inactive {
  @include size_icon(30px, 30px);
  @include background;
  background-image: url(./theme01/images/pen_4.svg);
  background-size: contain;
}

/* Search */


.search:hover {
  @include border(1px solid $theme1_color17);
}

.search:focus {
  @include border(2px solid $theme1_color3);
}

.search_container::before {
  background-image: url(./theme01/images/search.svg);
}

/* Menu */
.menu_subcontainer {
   gap: 20px;
}

.menu_text {
  @include font_style_base(Montserrat);
  color: $theme1_color1;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu_point {
  width: 8px;
  height: 40px;
  background-image: url(./theme01/images/point.svg);
  margin-left: -28px;
}
.menu_subelement {
  font-family: Montserrat;
  color: $theme1_color1;
  margin-left: 34px;
  margin-top: 20px;
}
.menu_subelement_last{
  margin-bottom: 20px;
}

.subel1, .subel3, .subel5{
  color: #4E7CCA;
}

.business {
  background-image: url(./theme01/images/point_1.svg);
}

.content {
  background-image: url(./theme01/images/point_2.svg);
}

.control {
  background-image: url(./theme01/images/point_3.svg);
}

/* Dropdown lists */

.__select__label:hover {
  background-color: $theme1_color2;
  color: $white;
}

.__select__title {
  &:hover {
    border-color: $theme1_color2;

    &::before,
    &::after {
      background-color: $theme1_color2;
    }
  }
}

/* Form */

.input {
  @include color_btn(1px solid $theme1_color15, $theme1_color16);
  font-family: Montserrat;
  font-size: 0.8 * $font_size_base;
  line-height: 0.8 * $font_size_base;
  display: flex;
}

.select2 {
  @include color_btn(2px solid $theme1_color3, $theme1_color16);
}


/* Color */

.color{
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 4px;
  margin-right: 40px;
  box-shadow: none;
}

.theme6_color5{
  border: 1px solid #F0F0F0;
}

.color_container-six_theme{
  color: $theme6_color17;
}

.color_container-number_color{
  color: $theme6_color18;
}

.colors_h1{
  font-size: 30px;
}

.color_container-items{
  display: flex;
  flex-wrap: wrap;
}

.color_container-text{
  font-size: $font_size_base;
}
.theme6_color1{
  background-color: $theme6_color3;
}
.theme6_color2{
  background-color: $theme6_color4;
}
.theme6_color3{
  background-color: $theme6_color1;
}
.theme6_color4{
  background-color: $theme6_color5;
}
.theme6_color5{
  background-color: $theme6_color6;
}
.theme6_color6{
  background-color: $theme6_color7;
}
.theme6_color7{
  background-color: $theme6_color8;
}
.theme6_color8{
  background-color: $theme6_color9;
}
.theme6_color9{
  background-color: $theme6_color10;
}
.theme6_color10{
  background-color: $theme6_color11;
}
.theme6_color11{
  background-color: $theme6_color12;
}
.theme6_color12{
  background-color: $theme6_color13;
}
.theme6_color13{
  background-color: $theme6_color2;
}
.theme6_color14{
  background-color: $theme6_color14;
}
.theme6_color15{
  background-color: $theme6_color15;
}
.theme6_color16{
  background-color: $theme6_color16;
}
.theme6_color17{
  background-color: $theme6_color17;
}
.theme6_color18{
  background-color: $theme6_color18;
}


.vsb-menu .multi li:not(.grouped-option)::before {
  background-image: url(./theme01/images/multiempty.svg);
}


/* Main */
.hashtag_item {
  background-color: $theme1_color2;
}

.form_button_accept {
  @include form_button;
  background-image: url(./images/galka.png);
}

.form_button_deny {
  @include form_button;
  background-image: url(./images/krest.png);
}

input:checked + .slider-switcher {
  background-color: $theme1_color2;
}

.slider::-webkit-slider-thumb {
  background: $theme1_color5;
}

.slider::-moz-range-thumb {
  background: $theme1_color15;
}

.block1 {

  > .item {
    background: $white;
  }
}