@import "../base_style/theme_colors.scss";
@import "./common/common.scss";
@import "./theme06.scss";

/* Общие */

* {
  font-family: $font_family;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

.fullContainer {
  @include width(1580px, 100%);
  margin: 0 auto;
}

.flex{
  display: flex;
}

.mtb_30{
  margin: 30px 0;
}

.items_center{
  @include center;
}

.dark{
  color: $dark;
}

.gray_dark{
  color: $gray_dark;
}

/* sidebar */

.select{
  text-align: center;
  margin: 20px;
}

/* sidebar */

.sidebar_items {
  height: 993px;
  max-width: 256px;
  width: 100%;
}

.sidebar_item {
  width: auto;
}

.foto.profile{
  margin-right: 20px;
}

/* header */

.content_right{
  max-width: 2400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  background-color: $theme6_color14;

  @media (max-width: 1150px) {
    width: calc(100vw - 300px);
  }
}

/* header */

.header_items {
  max-width: 2400px;
  width: 100%;
  background-color: $theme6_color6;
  margin-top: 0;

  .srch_no{

      @media (max-width: 600px) {
          & input{
            margin-left: 0px;
            }

            &::after{
                left: 12.5px;
            }
      }

      input {
        @media (max-width: 870px) {
          padding: 12px 50px 11px 38px;
        }
        @media (max-width: 660px) {
          padding: 12px 0px 11px 38px;
        }
      }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: end;
    padding: 15px;

    div{
      margin-bottom: 5px;
      margin-right: 15px;
    }
  }
}

.header_icon {

    @media (max-width: 700px) {
      &:first-child{
        margin-right: 5px;
      }
  }
}

/* box_menu */

.box_menu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 30px;

  @media (max-width: 1100px) {
    gap: 15px;
  }
}

.box{
  @include center;
  flex-wrap: wrap;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background-color: $theme6_color6;
  margin-right: 24px;
}

.box_desktop{
  @include center;
  @include img;
  background-image: url(./theme06/images/desktop_big.svg);
}
.box_portfolio{
  @include center;
  @include img;
  background-image: url(./theme06/images/portfolio_big.svg);
}
.box_folder{
  @include center;
  @include img;
  background-image: url(./theme06/images/folder_big.svg);
}
.box_graph{
  @include center;
  @include img;
  background-image: url(./theme06/images/graph_big.svg);
}
.box_settings{
  @include center;
  @include img;
  background-image: url(./theme06/images/settings_big.svg);
}

.box_text{
  color: $theme6_color5;
  width: 100px;
  text-align: center;
  margin-top: -25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  font-style: normal;
}

.white_text{
  color: $theme6_color6;
}

.background_blue{
  background-color: $theme6_color3;
}

/* table */

.container_table{
  max-width: 2400px;
  width: 100%;
  margin: 0 30px;
  padding: 47px 30px;
  background-color: $theme6_color6;
}

.table{
  width: 100%;
  font-weight: 400;
  color: $theme6_color5;

  & th,
  & td{
    font-weight: 400;
    text-align: center;
    padding: 15px;

    @media (max-width: 1100px) {
      padding: 10px;
    }
  }

  & th{
    font-size: 14px;
  }
  & td{
    font-size: 16px;
    border-top: solid 1px $theme6_color2;
  }
}

.sorting{
  position: relative;
  cursor: pointer;

  &:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    right: 0px;
    top: 37%;
    background-image: url(./theme06/images/arrow_mini.svg);
    background-repeat: no-repeat;
  }

  &:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    right: 4px;
    top: 45%;
    background-image: url(./theme06/images/arrow_mini.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

/* status */

.table button {
  font-size: 11px;
  font-weight: 500;
  width: 84px;
  height: 22px;
  border: none;
  border-radius: 4px;
}

/* actions */

.images{
  @include center;
  min-width: 100px;
  justify-content: end;
}

.img {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  padding-right: 20px;

  &:last-child{
    padding-right: 0px;
  }
}

.editing{
  background-image: url(./theme06/images/editing.svg);
  margin-top: -3px;
}

.close_table{
  background-image: url(./theme06/images/close_table.svg);
}

.eye_blue{
  background-image: url(./theme06/images/eye_blue.svg);
}

/* footer table */

.footer_item{
  padding-right: 30px;

  p{
    padding-right: 8px;
  }

  .img{
    padding-right: 12px;

    &.editing{
      margin-top: 16px;
    }
  }
}