/* ALL */

.block {
  border: 1px dashed $theme6_color7;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 20px 0;
}

.mtb_30 {
  margin: 30px;
}

/* MENU */

#section_menu {
  @include wrap;
  width: 100%;
  justify-content: space-between;
}

#menuWrapper {
  width: 80%;

  h2 {
    @include text($font_size_base*1.25, 28px, 700);
    color: $gray_dark;
  }

  @media (max-width: 782px) {
    order: 2;
  }
}

#container_theme {

  .text_universal:first-child {
    display: $theme_display;
  }

  @include width(120px, 19%);
  margin-left: 98px;
  margin-bottom: 25px;

  @media (max-width: 1120px) {
    margin-left: 30px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  @include block(60px, 34px);
  height: 34px;
  margin: 10px;
}

.switch input {
  display: none;
}

.slider_theme {
  @include block(40px, 20px);
  border-radius: 10px;
  background-color: $theme6_color3;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $theme6_color3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider_theme:before {
  content: "";
  position: absolute;
  @include block(16px, 16px);
  left: 2px;
  top: 2px;
  border-radius: 16px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider_theme:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* NAVIGATION */

#menu {
  @include center;
  flex-wrap: wrap;

  .menuLink {
    margin: 0px 15px 15px 0px;
    padding: 5px 12px 5px 12px;
    text-decoration: none;
    color: $gray_dark;
    border-radius: 4px;
    background-color: $theme6_color2;

    &:last-child {
      margin-right: 25px;
    }
  }
}

/* SWITCHER_THEME */

#switcher_theme {
  @include block(118px, 40px);
  display: $theme_display;
  position: relative;
}

#switcher_theme::before,
#switcher_theme::after {
  content: " ";
  position: absolute;
  top: 0;
  @include block(20px, 20px);
  background-repeat: no-repeat;
}

#switcher_theme::before {
  left: 0;
  background-image: url(./theme06/images/light_theme.svg);
}

#switcher_theme::after {
  right: 10px;
  background-image: url(./theme06/images/dark_theme.svg);
}

.switch {
  position: absolute;
  margin: 0px;
  left: 35px;
  top: 0px;
}

/* FONT */

.blockWrapper_text {

  margin: 0;
  color: $gray_dark;
  font-size: 40px;

  :last-child {
    margin-right: 0px;
  }
}

.text_item {
  margin-right: 90px;

  & p:first-child {
    margin: 7px 0 30px 0;
  }
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: $theme6_color17;

  @media (max-width: 1120px) {
    font-size: 20px;
  }
}

h4 {
  font-weight: 400;
}

.text_big {
  @include font_style(normal, 600, 50px, 60.95px, $theme6_color1);
  margin-right: 150px;

  p {
    margin-top: 5px;
  }
}

.text_medium {
  font-weight: 500;
}

.text_bold {
  font-weight: 600;
}

.text_regular {
  font-size: 16px;
  line-height: 20.8px;
}

/* BUTTON */

#sectionInner {
  display: flex;
  width: 100%;

  @media (max-width: 1350px) {
    flex-wrap: wrap;
  }
}

.headersButton {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  width: 100%;

  @media (max-width: 850px) {
    display: none;
  }
}

.block_buttons {
  display: flex;
  max-width: 790px;
  width: 100%;

  @media (max-width: 850px) {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
}

#subsection_buttons{
  @include wrap;
  max-width: 790px;
  width: 100%;
}

.subtitle {
  @include font_style(normal, 500, 18px, 21.94px, $theme6_color4);
}

.blockInner_buttonSmall {
  width: 400px;
  margin-top: 23px;
  margin-left: 63px;

  @media (max-width: 600px) {
    margin-left: 20px;
  }
}

.buttons_opt {
  @include wrap;
  margin-top: 17px;
}

#buttons_small {
  display: flex;

  @media (max-width: 600px) {
    flex-wrap: wrap;

    .blockWrapper_buttonSmall:last-child {
      width: 400px;
      margin-right: 40px;
    }
  }
}

.blockWrapper_buttonSmall {
  width: 204px;
  margin-right: 40px;
}

/* CHECKBOX */

#subsection_checkbox {
  margin-left: 120px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  @media (max-width: 1350px) {
    align-items: center;
    margin-left: 0px;
    margin-top: 50px;
  }
}

.blockWrapper {
  margin-bottom: 40px;
}

.buttonsStatus {
  @include wrap;
  @include width(332px, auto);
}

.blockWrapper {
  &.status-items {
    margin-left: 20px;
  }
}

/* COLOR */

.color {
  @include block(230px, 60px);
  border: none;
  border-radius: 4px;
  margin-right: 40px;
  box-shadow: none;
}

/*AVATAR*/

.blockWrapper_avatar {
  margin-right: 120px;
}

/* PRELOADER and PROGRESSBAR */

#blockWrapper_preloaders {
  @include wrap;
  padding-top: 20px;

  .block{
    @include wrap;

    @media (max-width: 400px) {
      .preloader_ellipse,
      .preloader_ellipse_second{
        padding-right: 50px;
      }
    }
  }
}

#progressBar {
  margin-left: 50px;
  max-width: 450px;
  width: 100%;

  @media (max-width: 900px) {
    margin-left: 0px;
    margin-top: 25px;
  }
}

.progress {
  margin-top: 29px;
}

/* TOOLTIP */

#tooltip {
  padding-top: 20px;

  .subtitle {
    margin-bottom: 10px;
  }
}

.tooltip {
  position: relative;
  display: inline-flex;

  @media (max-width: 1407px) {
    margin-bottom: 50px;
  }
}

.block_tooltip {
  margin-bottom: 61px;

  &.block_tooltipWithHeading {
    margin-bottom: 120px;
  }
}

.tooltip {
  @include block(270px, 115px);
  margin-right: 40px;
}

.side {
  width: 400px;
}

/* IMAGES */

.images div {
  .subtitle {
    margin-bottom: 20px;
  }
}

#blockWrapper_images {
  div {
    margin-top: 30px;

    &:first-child {
      margin-right: 50px;
    }
  }
}

/* INPUT_FIELDS */

.blockWrapperForms {
  display: flex;

  .block {
    @include wrap;
    justify-content: space-around;
    margin-top: 30px;

    @media (max-width: 800px) {
      gap: 10px;
    }
  }

  .subtitle {
    width: 340px;

    @media (max-width: 1400px) {
      display: none;
    }
  }

  @media (max-width: 1120px) {
    display: block;
  }
}

.inputName {
  color: $theme6_color5;
  width: 320px;
  padding-top: 60px;
}

/* CALENDAR */

#section_select {
  margin-top: 30px;
}

#calendar {
  margin-right: 60px;
}

.field-calendar {
  margin: 5px;
}

#select_calendar{
  .block_adaptive{
    width: 300px;
  }
}

/* SELECT */

#select {
  max-width: 680px;
}

#select_twoSelect {
  .select_item {
    height: 180px;
    margin-top: 40px;
  }
}

#select_oneSelect {

  .select_item {
    margin-top: 40px;
    height: 225px;
  }

  #select_calendar{
    margin-top: 40px;
  }
}

/* SEARCH */

#blockWrapperSearch {
  margin-top: 40px;
}

.search {
  display: inline-flex;
  margin-bottom: 20px;

  @media (max-width: 940px) {
    @include wrap;
    width: min-content;
    gap: 20px;
  }
}

.search_statusText {
  margin-right: 11px;
}

/*INPUT FIELDS NAME*/

#section_input {
  margin-top: 50px;
}

.blockWrapperInput_withName {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 1060px) {
    @include wrap;
    justify-content: space-around;
    gap: 10px
  }

  .subtitle {
    margin-right: 42px;
    width: 300px;

    @media (max-width: 1400px) {
      width: 250px;
    }

    @media (max-width: 1220px) {
      width: 218px;
    }

    @media (max-width: 1060px) {
      margin-right: 0px;
    }
  }

  .subtitle {
    @media (max-width: 1060px) {
      display: none;
    }
  }
}

.text_none {
  @media (max-width: 1240px) {
    display: none;
  }
}

.blockWrapperInputText {
  @include wrap;
  margin-top: 49px;

  @media (max-width: 890px) {
    gap: 30px;
    justify-content: center;
  }
}

/* SLIDER */

#section_slider {
  margin-top: 69px;
}

.slider_status {
  max-width: 340px;
  width: 100%;
}

.blockWrapperSlider {
  display: inline-flex;

  .block_slider {
    &:first-child {
      margin-left: 0px;
    }
  }

  @media (max-width: 550px) {
    @include wrap;
    justify-content: center;

    .block_slider {
      margin: 20px 0;
    }
  }
}

.slider_names {
  display: inline-flex;
  margin: 20px 0 20px 20px;
  max-width: 1000px;
  width: 100%;

  @media (max-width: 550px) {
    display: none;
  }
}

/* COMBOBOX */

.combobox_disabled {
  margin-top: 20px;

  .subtitle {
    padding-left: 20px;
  }
}

.combobox_title {
  margin-top: 20px;
  display: inline-flex;
  max-width: 1300px;
  width: 100%;
  margin-left: 20px;

  @media (max-width: 1400px) {
    max-width: 1100px;
  }

  @media (max-width: 1220px) {
    max-width: 950px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.blockWrapperCombobox {
  display: inline-flex;
  margin-top: 20px;

  @media (max-width: 1000px) {
    @include wrap;
    justify-content: space-around;
    gap: 20px;
  }
}

.combobox_status {
  width: 340px;
}

/* SIDEBAR */

#sidebar {
  @include wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* POPUP */

#section_popup {
  .active {
    margin-top: 30px;
    background-color: $theme6_color3;
  }
}
