.filter_container::before {
  left: 533px;
  top: 119px;
}

.menu_container::before {
  height: 0;
  margin-bottom: 0;
}

.menu_subelement {
  color: black;
}

.menu_text {
  margin-top: 10px;
  margin-bottom: 10px;
}