/* FONT */

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./theme06/font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* VARIABLES */

$font_family: Montserrat;
$font_size_base: 16px;
$theme_display: flex;
$show_error: flex;

$dark: $theme6_color4; // #192A3E
$dark_light: $theme6_color18; // #6A707E

$gray: $theme6_color17; // #90A0B7
$gray_light: $theme6_color15; // #F1F5FB
$gray_dark: $theme6_color1; // #6C7293


/* MIXIN */

  /* MIXIN_TEXT */

@mixin font_style($font-style, $font-weight, $font_size, $line-height, $color) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font_size;
  line-height: $line-height;
  color: $color;
}

@mixin text($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin text_name{
  font-size: 12px;
  font-weight: 500;
  line-height: 13.2px;
}

@mixin text_definition {
  font-size: 14px;
  line-height: 16.8px;
}

@mixin text_universal {
  font-size: 12px;
  line-height: 15.6px;
}

@mixin text_status {
  font-size: 11px;
  font-weight: 500;
  line-height: 13.41px;
}

@mixin text_sidebar {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}

@mixin text_button {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
}

  /* MIXIN_BLOCK */

@mixin width($max-width, $width) {
  max-width: $max-width;
  width: $width;
}

@mixin block($width, $height) {
  width: $width;
  height: $height;
}

@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin center {
  display: flex;
  align-items: center;
}

@mixin img {
  margin-top: 0px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

/* GENERAL CLASSES */

* {
  font-family: $font_family;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

.section {
  border-bottom: solid 1px #EBEFF2;
  padding: 50px 0px 50px 0px;
}

#fullContainer {
  @include width(1580px, 100%);
  margin: 0 auto;
}

.block_adaptive{
  @include wrap;
}

::-webkit-scrollbar {
  @include block(8px, 8px);
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #d3cbcf;
  border-radius: 3em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.flex {
  display: flex;
}

.dark {
  color: $dark;
}

.gray_dark {
  color: $gray_dark;
}