/* Primary colors */

$white: #ffffff;
$black: #000000;

/* Theme one */

$theme1_color1: #4f4f4f;
$theme1_color2: #4e7cca;
$theme1_color3: #eb5757;
$theme1_color4: #42d681;
$theme1_color5: #219653;
$theme1_color6: #A8A8A8;
$theme1_color7: #828282;
$theme1_color8: #f2994a;
$theme1_color9: #ffb8b8;
$theme1_color10: #b1dec4;
$theme1_color11: #b8cdf0;


// #1db75f
// #16713d

/* Theme two */

$theme2_color1: #FFE7CA;
$theme2_color2: #D9DCFB;
$theme2_color3: #A0A0A0;
$theme2_color4: #BDC3FF;
$theme2_color5: #8715FF;
$theme2_color6: #F8F8F8;


// #8715FF

/* Theme three */

$theme3_color1: #30363d;
$theme3_color2: #f27a54;
$theme3_color3: #a154f2;
$theme3_color4: #747d88;

// #6fcf97
// #4c94ff

/* Theme four */

$theme4_color1: #fcc282;
$theme4_color2: #5ecabb;
$theme4_color3: #748085;

// #fba542
// #404143

/* Theme five */

$theme5_color1: #4d4ae8;
$theme5_color2: #2f3ba6;
$theme5_color3: #aab3d1;

// #289a78
// #e05353
