/* Primary colors */
/* Theme one */
/* Theme two */
/* Theme three */
/* Theme four */
/* Theme five */
/* Font */
.header_h1 {
  font-size: 25px;
  line-height: 25px;
}

.header_h2 {
  font-size: 20px;
  line-height: 20px;
}

.header_h3 {
  font-size: 16px;
  line-height: 16px;
}

/* Navigation */
.navigation {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:first-child {
  margin-left: 25px;
}

.link:link:last-child {
  margin-right: 25px;
}

/* Buttons */
.button {
  font-style: normal;
  font-size: 24.96px;
  line-height: 20.8px;
  border-radius: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Form */
.input {
  width: 400px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 45px;
}

/* Menu */
.menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 5px;
}

.menu_subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  cursor: pointer;
}

.menu_subelement {
  font-size: 16px;
  line-height: 16px;
  list-style-type: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.menu_text {
  margin-left: 10px;
  width: 250px;
}

.element {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu_text {
  font-size: 17.6px;
  line-height: 17.6px;
}

/* Checkbox */
/* Icons */
/* Dropdown lists */
.vsb-main {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.vsb-main button {
  width: 393px;
  border-radius: 0;
  text-align: left;
  z-index: 1;
  color: #333;
  background: #ffffff;
  border: 1px solid #999;
  line-height: 20px;
  font-size: 14px;
  padding: 6px 12px;
  height: 50px;
}

.vsb-main .title {
  margin-right: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.caret {
  display: inline-block;
  width: 14px;
  height: 10px;
  margin-left: 2px;
  background-image: url(./theme01/images/coret.svg);
}

.vsb-menu {
  cursor: pointer;
  z-index: 1000;
  display: block;
  visibility: hidden;
  position: absolute;
  border: 1px solid #b2b2b2;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px black;
          box-shadow: 0 6px 12px black;
  border-radius: 4px;
  font-size: 11px;
}

.vsb-main ul {
  white-space: nowrap;
  width: 393px;
}

.vsb-menu ul {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  white-space: nowrap;
  margin: 0px;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  color: #333;
  cursor: pointer;
  overflow-y: auto;
}

.vsb-menu li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background: linear-gradient(#f5f5f5, #e8e8e8);
}

.vsb-js-search-zone {
  position: absolute;
  z-index: 1001;
  width: 80%;
  min-height: 1.8em;
  padding: 2px;
  background-color: #fff;
}

.vsb-js-search-zone input {
  border: 1px solid grey;
  margin-left: 2px;
  width: 96%;
  border-radius: 4px;
  height: 25px;
}

.vsb-menu li {
  font-size: 14px;
  background-color: #fff;
  min-height: 1.4em;
  padding: 0.2em 2em 0.2em 1em;
}

.vsb-menu li.grouped-option b {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  -webkit-transform: translate(-18px);
          transform: translate(-18px);
}

.vsb-menu li.grouped-option.open span {
  display: inline-block;
  font-size: inherit;
  margin-top: -2px;
  height: 8px;
  width: 8px;
  -webkit-transform: translate(-38px) rotate(45deg);
          transform: translate(-38px) rotate(45deg);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 2px;
}

.vsb-menu li.grouped-option.closed span {
  display: inline-block;
  font-size: inherit;
  height: 8px;
  width: 8px;
  -webkit-transform: translate(-38px) rotate(-45deg);
          transform: translate(-38px) rotate(-45deg);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 2px;
}

.vsb-menu li.grouped-option i {
  display: inline-block;
  font-size: inherit;
  float: left;
  font-weight: bold;
  margin-left: 22px;
  margin-right: 2px;
  height: 11px;
  width: 8px;
  border: 1px solid;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
  margin-top: 0px;
  color: black;
}

.vsb-menu li.grouped-option.checked i::after {
  content: "";
  display: inline-block;
  font-size: inherit;
  color: #333;
  float: left;
  margin-left: 0px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 8px;
  width: 5px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.vsb-menu :not(.multi) li.active {
  margin-left: 7px;
}

.vsb-menu :not(.multi) li.active::before {
  content: "";
  display: inline-block;
  font-size: inherit;
  margin-left: -18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 10px;
  width: 5px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 2px;
}

.vsb-menu .multi li {
  font-size: 14px;
  background-color: #fff;
  min-height: 1.4em;
  padding: 0.2em 2em 0.2em 26px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vsb-menu .multi li.grouped-option {
  font-size: 15px;
  padding-left: 5px;
}

.vsb-menu .multi li.grouped-option:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #341f70;
}

.vsb-menu .multi li:not(.grouped-option)::before {
  content: "";
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 7px;
  padding: 0;
  margin-top: 0px;
  color: black;
  position: absolute;
  right: 5px;
  background-image: url(./theme01/images/multiempty.svg);
  border-radius: 3px;
  border: 0;
  background-position: center;
  width: 24px;
  height: 32px;
  top: 2px;
}

.vsb-menu .multi li:not(.grouped-option).active::after {
  content: "";
  display: inline-block;
  font-size: inherit;
  color: #333;
  margin-left: -18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -11px;
  height: 8px;
  width: 21px;
  border: none;
  background-repeat: no-repeat;
}

.vsb-menu .multi li:not(.grouped-option)::after {
  content: "";
  font-size: inherit;
  float: left;
  font-weight: bold;
  margin-left: -22px;
  margin-right: 2px;
  padding: 7px;
  margin-top: 0px;
  border: 0;
  color: black;
  position: absolute;
  right: 5px;
  background-image: url(./theme01/images/multiaccept.svg);
  background-position: center;
  width: 24px;
  height: 36px !important;
  top: 0px;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}

.vsb-menu .multi li:not(.grouped-option).active::after {
  content: "";
  display: inline-block;
  font-size: inherit;
  color: #333;
  float: left;
  margin-left: -18px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -11px;
  height: 8px;
  width: 21px;
  border: none;
  background-repeat: no-repeat;
}

.vsb-menu .multi li:not(.grouped-option)::after {
  display: none;
}

.reset {
  display: none;
  width: 230px;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid 1px #c7ccd1;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #333333;
}

.__select {
  position: relative;
  width: 393px;
  height: 50px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 26px black;
          box-shadow: 0px 0px 26px black;
  border-radius: 10px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.__select[data-state=active] .__select__content {
  opacity: 1;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  height: 200px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding-left: 16px;
}

.__select__label + input + .__select__label {
  border-top: 0 solid #c7ccd160;
}

.__select[data-state=active] .__select__content {
  opacity: 1;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  height: 200px;
  overflow: scroll;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select {
  position: relative;
  width: 393px;
  height: 50px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  color: #4f4f4f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.__select[data-state="active"] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state="active"] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state="active"] .__select__content {
  opacity: 1;
}

.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-radius: 5px;
}

.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #d3cbcf;
  border-radius: 3em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

.vsb-menu ul {
  width: 95%;
}

.vsb-js-search-zone input {
  width: 96%;
}

.vsb-js-search-zone {
  width: 91%;
}

.vsb-menu {
  width: 393px;
}

/* Search */
.search_container {
  margin-left: auto;
  position: relative;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 292px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.search_container::before {
  width: 20px;
  height: 20px;
  content: url(./theme01/images/search.svg);
  position: absolute;
  left: 17px;
  top: 15px;
  z-index: 2;
  background-image: url(./theme01/images/search.svg);
}

.search {
  width: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #fbfbfb;
  border: none;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: 1px solid #f8f8f8;
  font-style: normal;
  font-weight: 500;
  font-size: 14.08px;
  line-height: 14.08px;
  padding-left: 50px;
  border-radius: 10px;
}

/* Loading  */
.example_loader {
  display: none;
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.example_visible {
  display: block;
}

.example1 {
  height: 40px;
  width: 45px;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: -5px;
}

.loader {
  width: 35px;
  height: 35px;
}

.block1 {
  position: fixed;
  top: 45%;
  left: 45%;
  height: 10px;
  width: 10px;
}

.block1 > .item {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #ffffff;
  -webkit-animation: move 0.5s linear infinite;
          animation: move 0.5s linear infinite;
}

.block1 > .item:nth-of-type(1) {
  top: -10px;
  left: -10px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.block1 > .item:nth-of-type(2) {
  top: -10px;
  left: 0;
  -webkit-animation-delay: -0.5s / 8;
          animation-delay: -0.5s / 8;
}

.block1 > .item:nth-of-type(3) {
  top: -10px;
  left: 10px;
  -webkit-animation-delay: -0.125s;
          animation-delay: -0.125s;
}

.block1 > .item:nth-of-type(4) {
  top: 0;
  left: 10px;
  -webkit-animation-delay: -0.1875s;
          animation-delay: -0.1875s;
}

.block1 > .item:nth-of-type(5) {
  top: 10px;
  left: 10px;
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

.block1 > .item:nth-of-type(6) {
  top: 10px;
  left: 0;
  -webkit-animation-delay: -0.3125s;
          animation-delay: -0.3125s;
}

.block1 > .item:nth-of-type(7) {
  top: 10px;
  left: -10px;
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
}

.block1 > .item:nth-of-type(8) {
  top: 0;
  left: -10px;
  -webkit-animation-delay: -0.4375s;
          animation-delay: -0.4375s;
}

.block {
  position: fixed;
  top: 45%;
  left: 45%;
  height: 100px;
  width: 100px;
}

.block > .item {
  position: absolute;
  height: 100px;
  width: 100px;
  background: white;
  -webkit-animation: move 0.5s linear infinite;
          animation: move 0.5s linear infinite;
}

.block > .item:nth-of-type(1) {
  top: -100px;
  left: -100px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.block > .item:nth-of-type(2) {
  top: -100px;
  left: 0;
  -webkit-animation-delay: -0.5s / 8;
          animation-delay: -0.5s / 8;
}

.block > .item:nth-of-type(3) {
  top: -100px;
  left: 100px;
  -webkit-animation-delay: -0.125s;
          animation-delay: -0.125s;
}

.block > .item:nth-of-type(4) {
  top: 0;
  left: 100px;
  -webkit-animation-delay: -0.1875s;
          animation-delay: -0.1875s;
}

.block > .item:nth-of-type(5) {
  top: 100px;
  left: 100px;
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

.block > .item:nth-of-type(6) {
  top: 100px;
  left: 0;
  -webkit-animation-delay: -0.3125s;
          animation-delay: -0.3125s;
}

.block > .item:nth-of-type(7) {
  top: 100px;
  left: -100px;
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
}

.block > .item:nth-of-type(8) {
  top: 0;
  left: -100px;
  -webkit-animation-delay: -0.4375s;
          animation-delay: -0.4375s;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.load {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}

.load.one {
  stroke: #ffffff;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
}

.load.two {
  stroke: #ffffff;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.load.three {
  stroke: #ffffff;
  -webkit-animation: load 1.5s infinite;
          animation: load 1.5s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.point {
  -webkit-animation: bounce 1s infinite ease-in-out;
          animation: bounce 1s infinite ease-in-out;
}

.point.one {
  fill: #ffffff;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.point.two {
  fill: #ffffff;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.point.three {
  fill: #ffffff;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader svg {
  width: 90%;
  fill: none;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 50%;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.else_content {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adding {
  display: none;
}

.supersmall_button {
  margin-top: 50px;
  margin-right: 50px;
}

.filter_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.search_margin {
  margin: 0;
  margin-left: 50px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 90%;
  margin-left: 50px;
}

tbody {
  width: 100%;
}

.main_row {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #a8a8a8;
}

.row {
  -webkit-box-shadow: 0px 0px 26px black;
          box-shadow: 0px 0px 26px black;
  border-radius: 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  margin-bottom: 30px;
}

.cell {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cell_1 {
  width: 160px;
}

.cell_2 {
  width: 117px;
}

.cell_3 {
  width: 183px;
}

.cell_4 {
  width: 50px;
}

.cell_5 {
  width: 135px;
}

.cell_6 {
  width: 165px;
}

.cell_7 {
  width: 90px;
}

.image {
  width: 117px;
  height: 80px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button_container {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

[data-pagination] {
  text-decoration: none;
  font-size: 8pt;
  line-height: 2;
  font-weight: 400;
  font-family: "Open Sans", "Source Sans Pro", Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Myriad Pro", "Segoe UI", Myriad, Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

[data-pagination] ul {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0.5em;
}

[data-pagination] ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}

[data-pagination] > a {
  text-decoration: none;
  font-size: 140%;
}

[data-pagination] a {
  text-decoration: none;
  color: #777;
  font-size: 100%;
  padding: 0.5em;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #4e7cca;
  text-decoration: underline;
}

[data-pagination] li.current {
  background: rgba(0, 0, 0, 0.1);
}

/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}

@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}

@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}

@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}

/* Slider */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 15px;
  border-radius: 5px;
  background: #b8b6b6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

/* Tooltip */
.tick {
  width: 54px;
  height: 56px;
  border: none;
  background-image: url(./images/question.png);
}

.tick_popup {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 55px;
  padding-left: 5px;
  width: 200px;
  height: 60px;
  font-family: Montserrat, Circe, Ubuntu;
  position: absolute;
  display: none;
}

.tick:hover .tick_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Hastags */
.hashtag {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  gap: 20px;
}

.hashtag_item {
  width: 15%;
  height: 85%;
  border: none;
  position: relative;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  border-radius: 10px;
}

.hashtag_item:first-child {
  margin-left: 10px;
}

.hashtag_item:last-child {
  margin-right: 10px;
}

.hashtag_item::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 7px;
  background-image: url(./images/hashtag_close.svg);
  z-index: 2;
  width: 16px;
  height: 16px;
}

/* Validation */
.form_title {
  font-family: Circe, Montserrat, Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.form_span {
  color: red;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.form_correct {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form_correct::before {
  content: "";
  background-image: url(./images/bx-check-circle.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  top: 70px;
  right: 20px;
}

.form_incorrect {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form_incorrect::before {
  content: "";
  background-image: url(./images/bx-x-circle.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  top: 70px;
  right: 20px;
}

.input_correct {
  width: 500px;
  height: 52px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #97d978;
}

.input_incorrect {
  width: 500px;
  height: 52px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #df5151;
}

.form_text {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #a0a0a0;
  font-family: Montserrat, Circe, Ubuntu;
}

/* Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider-switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-switcher:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.round {
  border-radius: 34px;
}

input:checked + .slider-switcher:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Pop-up */
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  z-index: -2;
}

.popup_active {
  opacity: 1;
  z-index: 1;
}

.popup__container {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

/* Primary colors */
/* Theme one */
/* Theme two */
/* Theme three */
/* Theme four */
/* Theme five */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./theme01/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./theme01/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: Montserrat;
}

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 41.6px;
}

.header_h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.header_h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.header_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.color_back {
  color: #4e7cca;
}

.grey_color {
  font-weight: 500;
  color: #a8a8a8;
}

.buttons-name {
  font-family: Montserrat;
}

.checkbox_text {
  font-family: Montserrat;
}

/* Navigation */
.navigation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

/* Button */
.button {
  font-family: Montserrat;
  width: 276px;
  height: 77px;
  border: none;
  color: #ffffff;
}

.plus {
  font-size: 28px;
  line-height: 28px;
}

.delete {
  background-color: #eb5757;
}

.delete:hover {
  background-color: #f27373;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.delete:active {
  background-color: #cf3b3b;
}

.delete_inactive {
  background-color: #ffb8b8;
}

.save, .save-exit, .filter {
  background-color: #219653;
}

.filter:hover, .save-exit:hover {
  background-color: #42d681;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.filter:active, .save-exit:active {
  background-color: #11783d;
}

.save-exit_inactive, .filter_inactive, .save_inactive {
  background-color: #b1dec4;
}

.add {
  background-color: #4e7cca;
}

.add_inactive {
  background-color: #b8cdf0;
}

/* Checkbox */
.checkbox_big {
  width: 30px;
  height: 30px;
  background: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url(./theme01/images/active_1.svg);
  background-size: contain;
}

.checkbox_big_inactive {
  background-image: url(./theme01/images/active_2.svg);
}

/* Icons */
.trash {
  width: 30px;
  height: 30px;
  background: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url(./theme01/images/trash_1.svg);
  background-size: contain;
}

.trash:hover {
  background-image: url(./theme01/images/trash_2.svg);
}

.trash:active {
  background-image: url(./theme01/images/trash_3.svg);
}

.trash_inactive {
  width: 30px;
  height: 30px;
  background: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url(./theme01/images/trash_4.svg);
  background-size: contain;
}

.pen {
  width: 30px;
  height: 30px;
  background: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url(./theme01/images/pen_1.svg);
  background-size: contain;
}

.pen:hover {
  background-image: url(./theme01/images/pen_2.svg);
}

.pen:active {
  background-image: url(./theme01/images/pen_3.svg);
}

.pen_inactive {
  width: 30px;
  height: 30px;
  background: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url(./theme01/images/pen_4.svg);
  background-size: contain;
}

/* Search */
.search:hover {
  border: 1px solid #c5bebe;
}

.search:focus {
  border: 2px solid #eb5757;
}

.search_container::before {
  background-image: url(./theme01/images/search.svg);
}

/* Menu */
.menu_subcontainer {
  gap: 20px;
}

.menu_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  color: #4f4f4f;
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu_point {
  width: 8px;
  height: 40px;
  background-image: url(./theme01/images/point.svg);
  margin-left: -28px;
}

.menu_subelement {
  font-family: Montserrat;
  color: #4f4f4f;
  margin-left: 34px;
  margin-top: 20px;
}

.menu_subelement_last {
  margin-bottom: 20px;
}

.business {
  background-image: url(./theme01/images/point_1.svg);
}

.content {
  background-image: url(./theme01/images/point_2.svg);
}

.control {
  background-image: url(./theme01/images/point_3.svg);
}

/* Dropdown lists */
.__select__label:hover {
  background-color: #4e7cca;
  color: #ffffff;
}

.__select__title:hover {
  border-color: #4e7cca;
}

.__select__title:hover::before, .__select__title:hover::after {
  background-color: #4e7cca;
}

/* Form */
.input {
  border: 1px solid #d5d0d0;
  background: #f8f8f8;
  font-family: Montserrat;
  font-size: 12.8px;
  line-height: 12.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select2 {
  border: 2px solid #eb5757;
  background: #f8f8f8;
}

/* Color */
.theme1_color1 {
  background-color: #4e7cca;
}

.theme1_color2 {
  background-color: #219653;
}

.theme1_color3 {
  background-color: #eb5757;
}

.vsb-menu .multi li:not(.grouped-option)::before {
  background-image: url(./theme01/images/multiempty.svg);
}

/* Main */
.hashtag_item {
  background-color: #4e7cca;
}

.form_button_accept {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  background-image: url(./images/galka.png);
}

.form_button_deny {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  background-image: url(./images/krest.png);
}

input:checked + .slider-switcher {
  background-color: #4e7cca;
}

.slider::-webkit-slider-thumb {
  background: #219653;
}

.slider::-moz-range-thumb {
  background: #d5d0d0;
}

.block1 > .item {
  background: #ffffff;
}
/*# sourceMappingURL=theme01.css.map */